@use 'styles' as ds;

.tag {
  @include ds.text-style('caption');
  display: inline-flex;
  align-items: center;
  height: 2rem;
  padding: 0 ds.space(3);
  border-radius: ds.radius('full');
  background-color: ds.color('background-muted');
  color: ds.color('text-default');
  white-space: nowrap;
}
