@use 'styles' as ds;

$card-width: 19.625rem;

.post-list {
  &__filters {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: ds.space(2);
    margin-top: ds.space(4);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, #{$card-width}), #{$card-width}));
    gap: ds.space(4);
    margin: ds.space(6) 0 0;
    padding: 0;
    list-style: none;
  }
}
