@use 'styles' as ds;

.post-list {
  &__filters {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: ds.space(2);
    margin-top: ds.space(4);
  }

  &__grid {
    @include ds.grid;
    margin: ds.space(6) 0 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    @include ds.grid-item(4, 2, 4);
  }
}
