@use 'styles' as ds;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    padding: ds.space(4);
    border-bottom: 1px solid ds.color('border-default');
  }

  &__brand {
    @include ds.text-style('h3');
    color: ds.color('text-default');
    text-decoration: none;
  }

  &__main {
    @include ds.container;
    flex: 1;
    padding-block: ds.space(4);

    @include ds.up('tablet') {
      padding-block: ds.space(6);
    }
  }
}
