@use 'styles' as ds;
@use '../PostCard/dimensions' as dim;

$line-height: 1rem;
$tag-height: 2rem;

.post-card-skeleton {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  border-radius: ds.radius('lg');
  background-color: ds.color('background-subtle');

  &__image {
    width: 100%;
    aspect-ratio: 9 / 4;
    @include ds.skeleton;

    @include ds.up('tablet') {
      height: dim.$image-height;
      aspect-ratio: auto;
    }
  }

  &__content {
    display: flex;
    flex: none;
    flex-direction: column;
    gap: ds.space(4);
    height: dim.$content-height;
    padding: ds.space(4) calc(#{ds.space(4)} - #{dim.$stroke-width})
      calc(#{ds.space(4)} - #{dim.$stroke-width});
    border: dim.$stroke-width solid ds.color('border-default');
    border-top: 0;
    border-radius: 0 0 ds.radius('lg') ds.radius('lg');
  }

  &__text {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: ds.space(2);
  }

  &__line,
  &__tag {
    border-radius: ds.radius('full');
    @include ds.skeleton;
  }

  &__line {
    height: $line-height;

    &--short {
      width: 40%;
    }

    &--medium {
      width: 70%;
    }

    &--title {
      height: ds.space(5);
    }
  }

  &__tags {
    display: flex;
    gap: ds.space(3);
    margin-top: auto;
  }

  &__tag {
    width: ds.space(20);
    height: $tag-height;
  }
}
